/* Asterisk wild card selector */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*General Rules*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #666363;
}

/* Header */
header {
    background-color: aqua;
}

/* Main */
main {
    background-color: #666363;
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: blueviolet;
}