/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Asterisk wild card selector */

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}


/*General Rules*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Header */

H1 {
    font-family: "Roboto", sans-serif;
}

.header {
    width: 100%;
    height: 20em;
    background-image: linear-gradient(rgba(61, 73, 107, 0.8), rgba(61, 73, 107, 0.8)), url(../images/twocourts.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 4px 4px;
    justify-content: space-between;
    align-items: center;
}

#nav-bar {
    flex: 1;
    text-align: right;
}

#nav-bar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 6px 10px;
    position: relative;
}

#nav-bar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}

#nav-bar ul li::after {
    content: " ";
    width: 0%;
    height: 2px;
    display: block;
    background: #cb0505;
    margin: auto;
    transition: 0.5s;
}

#nav-bar ul li:hover::after {
    width: 100%;
}

#logo {
    color: #ffffff;
    margin-left: 20px;
    font-size: 12px;
}

#welcome {
    width: 70%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#welcome h1 {
    font-size: 40px;
}

#welcome p {
    font-size: 15px;
    margin: 12px 0 30px;
}

#readm {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #0000ff;
    padding: 10px 35px;
    font-size: 12px;
    background: #0000ff;
    position: relative;
    cursor: pointer;
}

#readm:hover {
    border: 1px solid #cb0505;
    background: #cb0505;
    transition: 0.5s;
}

/* Section one, Body, Type of courts */

.courts {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;
    
}

p {
    padding: 10px;
}

.c-types {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}

.all-courts {
    flex-basis: 31%;
    background-color: #f0ebeb;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 12px 12px;
    box-sizing: border-box;
}

h3 {
    padding: 10px;
    text-align: center;
}

/* Section Two, Body, Court surfaces */

.diff-courts {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;

}

.all-diff {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.all-diff img {
    width: 100%;
}

.footer {

    background-color: white;
    height: 3em;
}

#tog {
    display: none;
}

#togg {
    display: none;
}

/* media query: phone (700px and down*/

@media(max-width: 700px) {
    #welcome h1 {
        font-size: 20px;
    }

    #nav-bar ul li {
        display: block;
    }

    #nav-bar {
        position: absolute;
        background: #bd2020;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav i {
        display: block;
        color: #ffffff;
        margin: 10px;
        font-size: 26px;
        cursor: pointer;
    }

    #nav-bar ul {
        padding: 30px;
    }

    #tog {
        display: block;
    }

    #togg {
        display: block;
    }

    .c-types {
        flex-direction: column;
} 
}